<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <h1 class="holder headline">
        Travel App
      </div>

      <form>
        <div class="holder start-date-input">
          <label for="start-date-input">Enter start date: </label>
          <input type="text" id="start-date-input" placeholder="DD/MM/YYYY" />
        </div>
        <div class="holder end-date-input">
          <label for="end-date-input">Enter end date: </label>
          <input type="text" id="end-date-input" placeholder="DD/MM/YYYY" />
        </div>
        <div class="holder destination-input">
          <label for="destination-input">Enter travel destination: </label>
          <input class="myInput" id="destination-input" placeholder="Destination" />
          <button id="sumbit" type="submit">
            Give me a forecast
          </button>
        </div>
      </form>

      <div hidden id="choose-city" class="holder choose-city">
        <h2>Choose one:</h2>
        <ul id="city-list"></ul>
      </div>

      <div hidden id="forecast-info" class="holder entry">
        <h2>Journey</h2>
        <div id="travel-info">
          <figure>
            <img id="destination-img" />
            <figcaption><a href="https://pixabay.com/">Source: Pixabay</a></figcaption>
          </figure>
          <label for="start-date">Start date: </label>
          <p id="start-date"></p>
          <label for="end-date">End date: </label>
          <p id="end-date"></p>
          <label for="destination">Destination: </label>
          <p id="destination"></p>
          <label for="trip-length">Trip length: </label>
          <p id="trip-length"></p>
          <div class="forecast-info">
            <h3>Forecast: </h3>
            <img id="weather-icon" />
            <p id="forecast"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
