<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="app">
      <h1 class="holder headline">
        Travel App
      </div>

      <form>
        <div class="holder start-date-input">
          <label for="start-date-input">Enter start date: </label>
          <input type="text" id="start-date-input" placeholder="DD/MM/YYYY" />
          <button id="add-today" type="button">Today</button>
        </div>
        <div class="holder end-date-input">
          <label for="end-date-input">Enter end date: </label>
          <input type="text" id="end-date-input" placeholder="DD/MM/YYYY" />
        </div>
        <div class="holder destination-input">
          <label for="destination-input">Enter travel destination: </label>
          <input class="myInput" id="destination-input" placeholder="Destination" />
          <button id="sumbit" type="submit">
            Give me a forecast
          </button>
        </div>
      </form>

      <div hidden id="choose-city" class="holder choose-city">
        <h2>Choose your destination:</h2>
        <ul id="city-list"></ul>
      </div>

      <div hidden id="forecast-info" class="holder forecast">
        <h2>Journey</h2>
        <div id="travel-info">
          <figure>
            <img id="destination-img" />
            <figcaption><a href="https://pixabay.com/">Source: Pixabay</a></figcaption>
          </figure>
          <section>
            <label for="start-date">Start date:</label>
            <p id="start-date"></p>
          </section>
          <section>
            <label for="end-date">End date:</label>
            <p id="end-date"></p>
          </section>
          <section>
            <label for="destination">Destination:</label>
            <p id="destination"></p>
          </section>
          <section>
            <label for="trip-length">Trip length:</label>
            <p id="trip-length"></p>
          </section>
          <section>
            <label for="airbnb-link">Stay:</label>
            <a id="airbnb-link">Find a place</a>
          </section>
          <section>
              <label for="forecast">Forecast for</label>
              <p id="forecast-day"></p>
              <img id="weather-icon" />
              <p id="forecast"></p>
          </section>
        </div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  </body>
</html>
