$color-fonts: #6886c5;
$color-app: #ffe0ac;
$color-button: #ffacb7;
$color-input: #f9f9f9;
$color-link-hover: #ffacb7;
$font-family: 'Roboto', sans-serif;

body {
  background: $color-app;
  font-family: $font-family;
  color: $color-fonts;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}

.app {
  display: block;
  color: $color-fonts;
  font-size: 20px;
  font-family: $font-family;
}

.holder {
  text-align: center;
  margin-top: 12px;
}

.headline {
  font-size: 4rem;
}

// Styles for input
label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}

input {
  height: 20px;
  width: 300px;
  background: $color-input;
  color: $color-fonts;
  font-size: 20px;
  font-family: $font-family;
  border: none;
  padding: 10px;
}

button {
  width: 320px;
  height: 50px;
  background: $color-button;
  color: $color-fonts;
  font-size: 20px;
  font-family: $font-family;
  border: none;
  box-shadow: 0 6px 4px #a9a9a9;
  display: grid;
  margin: auto;
  margin-top: 12px;

  &:hover {
    box-shadow: 0 2px 4px #a9a9a9;
    transform: scale(0.98);
  }
}

// Styles for city list
ul {
  list-style-type: none;
  padding: 0;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      display: inline-block;
      line-height: 2rem;
      font-size: 20px;
      &:hover {
        opacity: 75%;
        cursor: pointer;
        padding: 0;
      }
    }
  }
}

// Styles for forecast
figcaption {
  font-size: 0.8rem;

  a:visited {
    color: $color-fonts;
  }

  a:hover {
    color: $color-link-hover;
  }
}

img {
  max-width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.forecast {
  section {
    line-height: 2.5rem;
    font-size: 20px;
    label {
      display: inline;
    }

    p {
      display: inline;
    }

    a {
      color: $color-fonts;
    }

    a:visited {
      color: $color-fonts;
    }

    a:hover {
      color: $color-link-hover;
    }
  }
}

#start-date,
#end-date,
#destination,
#trip-length,
#forecast {
  color: $color-fonts;
  font-size: 20px;
}

#weather-icon {
  width: 70px;
  height: 70px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: $color-fonts;
  font-family: $font-family;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-fonts;
  font-family: $font-family;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color-fonts;
  font-family: $font-family;
}
